<input type="text" name='id_edifico' value="{{ edificio }}">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
          <label for="piso">Piso</label>
          <input id="piso" class="form-control" type="text" name="piso" value="{{ departamento.piso }}">
      </div>
      <div class="form-group">
          <label for="numero">Número</label>
          <input id="numero" class="form-control" type="text" name="numero" value="{{ departamento.numero }}">
      </div>
      <div class="form-group">
        <label for="propietario">Propietario</label>
        <select id="propietario" name='propietario' class="form-control">
          {% for p in propietarios %}
          <option value="{{ p.id }}">{{ p.nombre}}</option>
          {% endfor %}
        </select> 
      </div>
        <div class="form-group">
        <label for="porcentaje">% Expensas</label>
        <input id="porcentaje" class="form-control" type="text" name="porcentaje" value="{{ departamento.porcentaje }}">
      </div>

  <div class='mb-3 mt-3'>
  <input class="btn btn-primary btn-sm" type="submit" value="Guardar">
  <a href="{% url 'departamentos:home' %}" class='btn btn-sm btn-danger'>Cancelar</a>
  </div>
</form>
