{% extends 'layout.html' %}
{% block titulo %}
Editar Edificios
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header" style="background:darkkhaki;">
            Editar Edificios
        </div>
        <div class="card-body" style="background:bisque;">
          <h4 class="card-title">Datos del Edificio</h4>
   
           {% include "edificios/form.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

};
</script>
{% endblock %}

